{% extends '::base.html.twig' %}

{% set page_title = 'Dashboard' %}
{% set page_subtitle = 'Welcome to Efrito Virtual Credit Cards' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Virtual Cards</div>

                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Effective Date</th>
                            <th>Hotel</th>
                            <th>Room</th>
                            <th>Tourists</th>
                            <th>Amount</th>
                            <th>Amount on Card</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="7">No cards found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}